html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1571397872194-0ad8fbafe058?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: 1980px 1080px;
}

#deco {
  color: white;
}

#clock {
  font-size: 70px;
  font-weight: 300;
  color: white;
}
