.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid white;
}

.item {
  --offset: 200px;
  cursor: pointer;
  width: var(--offset);
  height: var(--offset);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 80px;
  font-weight: 700;
  background-color: rgba(198, 198, 198, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.2s ease-in-out;
}

.item.empty {
  visibility: hidden;
}

.item.movedown {
  transform: translateY(var(--offset));
}

.item.moveup {
  transform: translateY(calc(-1 * var(--offset)));
}

.item.moveleft {
  transform: translateX(calc(-1 * var(--offset)));
}

.item.moveright {
  transform: translateX(var(--offset));
}
